html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

blockquote,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}